body ._JX {
  &_container {
    position: absolute;
    z-index: 99999;

    &.container-pinned {
      position: fixed !important;
    }
  }

  &_title {
    background-color: #F2F8FA;
    padding: 10px 10px;
    border: 1px solid #dde4e6;

    &_user {
      position: relative;
      top: 1px;
      right: 5px;
      height: 0;
      width: 22px;
      left: -3px;

      img {
        width: 20px;
        height: 20px;
      }
    }

    &_copy {
      color: #172B4D;
      background-color: transparent;
      border: none;
      vertical-align: middle;

      &:hover{
        color: #8993A4;
      }
    }

  }

  &_status {
    background-color: #F2F8FA;
    border-bottom: 1px solid #dde4e6;
    display: flex;

    > div, > a {
      flex-grow: 1;
      justify-content: space-evenly;
      border-right: 1px solid #dde4e6;
      padding: 5px 10px;

      &:last-child {
        border-right: none;
      }
    }

    > a {
      text-decoration: none !important;
    }

    ._JX_status_icon {
      position: relative;
      top: 3px;
      margin-right: 3px;
      width: 16px;
    }
  }

  &_annotation {
    max-width: 600px;
    border: 1px solid #dde4e6;
    border-radius: 3px;
    background-color: white;
    box-shadow: 2px 2px 6px rgb(162, 183, 189);

    &:after, &:before {
      bottom: calc(100% - 1px);
      left: 40px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      z-index: 5;
    }

    &:after {
      border: 10px rgba(242, 248, 250, 0);
      border-bottom-color: #F2F8FA;
    }

    &:before {
      border: 11px rgba(221, 228, 230, 0);
      border-bottom-color: #dde4e6;
      margin-left: -1px;
    }
  }

  &_related_pr {
    max-height: 300px;
    overflow: auto;
    border-bottom: 1px solid rgb(221, 228, 230);

    td {
      padding: 10px;
      border-bottom: 1px solid #dde4e6;
    }

    table {
      width: 100%;
    }

    thead td {
      border-bottom: 1px solid #dde4e6;
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  &_description {
    max-height: 600px;
    overflow: auto;
    border-bottom: 1px solid #dde4e6;
    word-wrap: break-word;
    padding: 10px;

    ol, ul {
      padding-left: 15px;
      margin-bottom: 15px;
    }
  }

  &_avatar {
    width: 20px;
    height: 20px;
  }

  &_PR_STATUS {
    border: 1px solid #a5b3c2;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 100%;
    margin: 0;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  &_PR_OPEN {
    background-color: #fff;
    color: #4a6785;
  }

  &_PR_MERGED {
    border-color: #60b070;
    color: #14892c;
  }

  &_PR_DECLINED {
    border-color: #e8a29b;
    color: #d04437;
  }

  &_attachments {
    overflow: hidden;
    padding: 5px;
  }

  &_thumb {
    float: left;
    margin: 5px;
    border: 1px solid rgb(221, 228, 230) !important;
    cursor: pointer;
    height: 145px;
    width: 200px;
    position: relative;
    overflow: hidden;
  }

  &_thumb_filename {
    position: absolute;
    white-space: nowrap;
    width: 200px;
    background-color: white;
    max-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    bottom: 2px;
    padding-left: 2px;
  }

  &_file_loader {
    display: none;
    top: 23%;
    left: 35%;
    position: absolute;
  }
}
