{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 73
        },
        "modules": false,
        "loose": true,
        "useBuiltIns": false
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash"
  ]
}
