<div class="_JX_annotation">
    <div class="_JX_title">
        <div class="_JX_title_user"  title="Reporter -> Assignee">
            <img title="<%- reporter.displayName %>" src="<%- reporter.avatarUrls['48x48'] %>">
            ►
            <img  src="<%- assignee.avatarUrls['48x48'] %>">
        </div>
        <div title="Issue Type">
            <img title="<%- reporter.displayName %>" class="_JX_status_icon" src="<%- issuetype.iconUrl %>"> <%- issuetype.name %>
        </div>


        <a href="<%- url %>"><%- urlTitle %></a>
    </div>
    <div class="_JX_status">
        <% if (issuetype) {%>
        <div title="Issue Type">
            <img class="_JX_status_icon" src="<%- issuetype.iconUrl %>"> <%- issuetype.name %>
        </div>
        <% } %>
        <% if (status) {%>
        <div title="Status">
            <img class="_JX_status_icon" src="<%- status.iconUrl %>"> <%- status.name %>
        </div>
        <% } %>
        <% if (priority) {%>
        <div title="Priority">
            <img class="_JX_status_icon" src="<%- priority.iconUrl %>"> <%- priority.name %>
        </div>
        <% } %>
        <% if (comment && comment.total) {%>
        <a title="<%- comments %>" target="_blank" style="display: block" href="<%- url + '#comment-' + comment.comments[0].id  %>">
            💬 &nbsp; <%- comment.total %>
        </a>
        <% } %>
    </div>

    <% if (size(prs)){ %>
    <div class="_JX_related_pr">
        <table>
            <thead>
            <td>#</td>
            <td>title</td>
            <td>author</td>
            <td>status</td>
            </thead>
            <% forEach(prs, function(pr) {%>
            <tr>
                <td><a href="<%- pr.url %>"><%- pr.id %></a></td>
                <td><a href="<%- pr.url %>"><%- pr.name%></a></td>
                <td><img class="_JX_avatar" title="<%- pr.author.name %>" src="<%- pr.author.avatar %>"></td>
                <td>
                    <div class="_JX_PR_STATUS _JX_PR_<%- pr.status %>"><%- pr.status %></div>
                </td>
            </tr>
            <% });%>
        </table>
    </div>
    <% } %>
    <div class="_JX_description">
        <div><%= description %></div>
    </div>
    <% if (size(attachments)){ %>
    <div class="_JX_attachments">
        <% forEach(attachments, function(attach) { %>
        <div data-mime-type="<%- attach.mimeType %>" data-url="<%- attach.content %>" class="_JX_thumb">
            <a href="<%- attach.content %>" target="_blank">
                <img title="<%- attach.filename %>" src="<%- attach.thumbnail %>">
                <div class="_JX_thumb_filename"><%- attach.filename %></div>
                <img class="_JX_file_loader" src="<%- loaderGifUrl %>">
            </a>
        </div>
        <% });%>
    </div>
    <% } %>
</div>